body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s61-jir0105-chim-01_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1f000567247807f4c0535b658e050e8a");
  background-repeat: no-repeat;
  background-size: cover;
}

#heading{

  display: flex;
  align-items: center;
  justify-content: center;
}

#heading > img{

  height: 50px;
  padding-right: 30px;
}

input{

  height: 25px;
  width: 300px;
  border: 3px black solid;
  border-radius: 7px;
  text-align: center;
  margin-right: 20px;
  font-family: cursive;
}

button{
  border: 3px black solid;
  border-radius: 7px;
  font-family: cursive;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  height: 28px;
}

li>div{
   display: flex;
  justify-content: space-between;
  align-items: center;
}

#navBtn{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#groceryListContainer{
  height: 300px;
}